TOKEN
TOKEN.py
__pycache__/TOKEN.cpython-310.pyc
__pycache__/Lesson5.cpython-310.pyc
First_big_project/__pycache__/TOKEN.cpython-310.pyc
First_big_project/__pycache__/keyboard.cpython-310.pyc
Big_project_areyouguy/__pycache__/TOKEN.cpython-310.pyc
.vscode/launch.json
Big_project_areyouguy/__pycache__/func.cpython-310.pyc
Big_project_areyouguy/func.py
Big_project_areyouguy/__pycache__/testing.cpython-310.pyc
